<table class="table table-striped table-bordered" summary="List of &ldquo;Archived&rdquo; content">
  <thead>
    <tr class="table-header">
      <th class="column-format" scope="col"><%= sortable "_type", "Format" %></th>
      <th class="column-title" scope="col"><%= sortable "title" %></th>
      <th class="column-updated" scope="col"><%= sortable "updated_at", "Updated" %></th>
      <th class="column-assignee" scope="col"><%= sortable "assignee", "Assigned to" %></th>
      <th class="column-archiver" scope="col"><%= sortable "archiver", "Archived by" %></th>
      <th class="column-actions-archived" scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render :collection => @presenter.archived, :partial => 'publication', :locals => {:tab => :archived, :with => with}  %>
  </tbody>
</table>
