<table class="table table-hover table-bordered" summary="List of &ldquo;Draft&rdquo; content">
  <thead>
    <tr class="table-header">
      <th scope="col" style="width: 100px"><%= sortable "_type" %></th>
      <th scope="col" style="width: 400px"><%= sortable "title" %></th>
      <th scope="col" style="width: 200px"><%= sortable "updated_at", "Updated" %></th>
      <th scope="col"><%= sortable "assignee", "Assigned to" %></th>
      <th scope="col"><%= sortable "creator", "Created by" %></th>
      <th scope="col" class="column-actions" style="width: 150px">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render :collection => @presenter.draft, :partial => 'publication', :locals => {:tab => :draft, :with => with} %>
  </tbody>
</table>
