<% if with && publication.id.to_s == with %>
<tr id="current">
<% else %>
<tr>
<% end %>
  <td>
    <%= publication.format.underscore.humanize %>
  </td>
  <td class="title">
    <%= link_to publication.admin_list_title, edition_path(publication), class: 'bold', style: 'font-size: 16px; line-height: 14px' %>
    <br />
    <span class="text-muted">
      <%= link_to "/#{publication.slug }", preview_edition_path(publication), class: 'inherit' %> &middot;
      <% if tab && (tab == :published || tab == :archived) %>
        #<%= publication.version_number %>
        <% if publication.subsequent_siblings.first.present? %>
          #<%= publication.subsequent_siblings.first.version_number %> in <%= publication.subsequent_siblings.first.state.humanize.downcase %>)
        <% end%>
      <% else %>
        <abbr data-toggle="tooltip" title="Edition <%= publication.version_number %>">#<%= publication.version_number %></abbr>
      <% end %>
    </span>
    <% if publication.has_video? %>
      &middot; <i class="glyphicon glyphicon-film" alt="Has video"></i>
    <% end %>
  </td>
  <td>
    <%= publication.updated_at.to_date.to_s(:govuk_date_short) %>
  </td>
  <td>
    <%= publication.assignee %>
  </td>
  <td>
    <%= publication.publisher %>
  </td>
  <td class="text-right">
    <div class="btn-group">
    <!--<%= link_to preview_edition_path(publication), class: 'btn btn-default' do %>
      View
    <% end %>-->

    <!--<%= link_to publication_front_end_path(publication), class: 'btn btn-default' do %>
      <i class="glyphicon glyphicon-share-alt" title="View this publication"></i>
    <% end %>-->

    <% if publication.can_create_new_edition? %>
      <%= link_to duplicate_edition_path(publication), class: 'btn btn-default' do %>
          Create edition and edit
      <% end %>
    <% else %>
      <%= link_to 'Edit existing newer edition', edition_path(publication.in_progress_sibling), html_options = { "class" => "btn btn-default"} %>
    <% end %>
    </div>
  </td>
</tr>
