<table class="table table-hover table-bordered" summary="List of &ldquo;Published&rdquo; content">
  <thead>
    <tr class="table-header">
      <th scope="col" class="column-format"><%= sortable "_type" %></th>
      <th scope="col" class="column-title"><%= sortable "title" %></th>
      <th scope="col" class="column-updated"><%= sortable "updated_at", "Updated" %></th>
      <th scope="col" class="column-assignee"><%= sortable "assignee", "Assignee" %></th>
      <th scope="col" class="column-published-by"><%= sortable "publisher", "Publisher" %></th>
      <th scope="col" class="column-actions-published">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render :collection => @presenter.published, :partial => 'published_edition', :as => 'publication', :locals => {:tab => :published, :with => with}  %>
  </tbody>
</table>
