<% if with && publication.id.to_s == with %>
<tr id="current">
<% else %>
<tr>
<% end %>
  <td>
    <%= publication.format.underscore.humanize %>
  </td>
  <td class="title">
    <%= link_to publication.admin_list_title, edition_path(publication), class: 'bold', style: 'font-size: 16px; line-height: 14px' %>
    <br />
    <span class="text-muted">
      <%= link_to "/#{publication.slug }", preview_edition_path(publication), class: 'inherit', title: 'Preview' %> &middot;
      <% if tab && (tab == :published || tab == :archived) %>
        #<%= publication.version_number %>
        <% if publication.subsequent_siblings.first.present? %>
          #<%= publication.subsequent_siblings.first.version_number %> in <%= publication.subsequent_siblings.first.state.humanize.downcase %>)
        <% end%>
      <% else %>
        <abbr data-toggle="tooltip" title="Edition <%= publication.version_number %>">#<%= publication.version_number %></abbr>
      <% end %>
    </span>
    <% if publication.has_video? %>
      &middot; <i class="glyphicon glyphicon-film" alt="Has video"></i>
    <% end %>
  </td>
  <td>
    <span title="<%= publication.updated_at.to_s(:govuk_date_short) %>" data-toggle="tooltip">
      <%= publication.updated_at.to_date.to_s(:govuk_date_short) %>
    </span>
  </td>
  <% if tab && tab == :fact_check %>
  <td>
    <span title="<%= publication.last_fact_checked_at.to_s(:govuk_date_short) %>" data-toggle="tooltip">
      <%= publication.last_fact_checked_at.to_date.to_s(:govuk_date_short) %>
    </span>
  </td>
  <% end %>
  <% if tab && tab == :scheduled_for_publishing %>
  <td>
    <%= publication.publish_at.to_s(:govuk_date_short) %>
  </td>
  <% end %>
  <td>
    Paul Hayes
  </td>
  <% if tab && tab == :archived %>
    <td>
      <%= publication.archiver %>
    </td>
    <!--<td class="icon">
      <%= link_to publication_front_end_path(publication) do %>
        <i class="glyphicon glyphicon-share-alt" title="View this publication"></i>
      <% end %>
    </td>-->
  <% end %>
  <td class="text-right">
    <div class="btn-group">
    <% if tab && [:archived, :scheduled_for_publishing].include?(tab) %>
      <!--<%= link_to edition_path(publication), class: 'btn btn-default', title: "Locked view for this publication", 'data-toggle' => 'tooltip' do %>
        <span class="glyphicon glyphicon-lock"></span>
      <% end %>-->
    <% end %>
    <% if tab and tab == :archived and publication.can_create_new_edition? %>
      <span class="btn btn-default">Create new edition</span>
    <% else %>
      <%= link_to 'Edit', edition_path(publication), class: 'btn btn-default' %>
    <% end %>
    <% if publication.safe_to_preview? %>
      <%= link_to 'Preview', preview_edition_path(publication), class: 'btn btn-default' %>
    <% else %>
      <i class="glyphicon glyphicon-ban-circle" title="Preview disabled for this publication"></i>
    <% end %>
    </div>
  </td>
</tr>
