<table class="table table-striped table-bordered" summary="List of &ldquo;Ready&rdquo; content">
  <thead>
    <tr class="table-header">
      <th scope="col" class="column-format"><%= sortable "_type" %></th>
      <th scope="col" class="column-title"><%= sortable "title" %></th>
      <th scope="col" class="column-updated"><%= sortable "updated_at", "Updated" %></th>
      <th scope="col" class="column-assignee"><%= sortable "assignee", "Assigned to" %></th>
      <th scope="col" class="column-actions">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render :collection => @presenter.ready, :partial => 'publication', :locals => {:tab => :ready, :with => with} %>
  </tbody>
</table>
