<table class="table table-hover table-bordered" summary="List of &ldquo;Ready&rdquo; content">
  <thead>
    <tr class="table-header">
      <th scope="col" class="column-format"><%= sortable "_type" %></th>
      <th scope="col" class="column-title"><%= sortable "title" %></th>
      <th scope="col" class="column-updated"><%= sortable "updated_at", "Updated" %></th>
      <th scope="col" class="column-scheduled"><%= sortable "publish_at", "Scheduled" %></th>
      <th scope="col" class="column-assignee"><%= sortable "assignee", "Assigned to" %></th>
      <th scope="col" class="column-actions-with-lock">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render :collection => @presenter.scheduled_for_publishing, :partial => 'publication', :locals => {:tab => :scheduled_for_publishing, :with => with} %>
  </tbody>
</table>
